body {
    margin: 0;
    background-color: white;
    font-family:Arial, Helvetica, sans-serif
}

.page-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #e7e7e7;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 850px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
    font-family: 'Helvetica', 'Arial', sans-serif;
}


.image-container {
    flex: 1;
}

.left {
    background: url('../../../assets/background.png') no-repeat center;
    background-size: 100%; 
    height: 93%; 
    min-height: 600px;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 2rem;
    color: white;
}

.left::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.left h1 {
    position: relative;
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.right {
    width: 450px;
    padding: 2rem;
    background: white;
}

.logo {
    text-align: right;
    margin-bottom: 2rem;
}

.logo img {
    max-width: 190px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 600;
    margin-left: 13%;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.checkbox label {
    font-weight: 550;
    color:  black;
    margin-left: 1%;
    font-size: 0.9rem;
}

label {
    font-weight: 600;
    color:  black;
    margin-left: 14%;
    font-size: 1rem;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    padding: 0.75rem;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 0.9rem;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

.password-input {
    position: relative;
    margin-left: 14%;
}

.eye-icon {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
}

.checkbox {
    flex-direction: row;
    align-items: center;
    gap: 0rem;
    margin-left: 14%;

}

button {
    background: #1a1a1a;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 6px;
    font-size: 0.9rem;
    cursor: pointer;
    margin-top: 1rem;
    max-width: 300px;
    width: 100%;
    margin-left: 17%;
    
}

.login-link {
    text-align: center;
    color: #666;
    margin-top: 1rem;
    cursor: pointer;
}