<footer class="footer">
  <div class="footer-container">
    <div class="footer-left">
      <div class="logo-container">
        <img src="assets/logo.png" alt="FlashActu" class="logo">
      </div>
      <p class="copyright">© 2025 Votre Actu en un éclair. Tous droits réservés.</p>
      
      <div class="social-icons">
        <a href="https://www.facebook.com" target="_blank" class="facebook">
          <img src="../../../assets/facebook.jpg" alt="Facebook">
        </a>
        <a href="https://twitter.com" target="_blank" class="twitter">
          <img src="../../../assets/twitter.jpg" alt="Twitter">
        </a>
        <a href="https://www.instagram.com" target="_blank" class="instagram">
          <img src="../../../assets/instagram.jpg" alt="Instagram">
        </a>
        <a href="https://www.youtube.com" target="_blank" class="youtube">
          <img src="../../../assets/youtube.jpg" alt="YouTube">
        </a>
      </div>
      
    
    </div>
    
    <!-- Middle section with categories -->
    <div class="footer-center">
      <h5>Categories</h5>
      <div class="separator">
        <div class="separator-red"></div>
        <div class="separator-white"></div>
      </div>
      <div class="categories">
        <div class="category-row">
          <span class="category Tendance">Tendance</span>
          <span class="category Sport">Sport</span>
          <span class="category Science">Science</span>
          <span class="category Business">Business</span>
        </div>
        <div class="category-row">
          <span class="category Divertissement">Divertissement</span>
          <span class="category Technologie">Technologie</span>
          <span class="category Santé">Santé</span>
        </div>
      </div>
    </div>
    
    <div class="footer-right">
      <h5>Mon compte</h5>
      <div class="separator">
        <div class="separator-red"></div>
        <div class="separator-white"></div>
      </div>
      <div class="user-info">
        <img src="../../../assets/person.jpg" alt="User" class="person-icon">
        <input type="text" value="Jean-François Dupont">
      </div>
      <button class="btn-disconnect">Se déconnecter</button>
    </div>
  </div>
</footer>