<nav class="main-nav">
  <div class="nav-container">
    <ul class="nav-links">
      <li *ngFor="let item of navItems" [ngClass]="{'active': item.active}">
        <a (click)="navigateToCategory(item.category)" role="button">{{item.label}}</a>
      </li>
    </ul>

    <div class="nav-actions">
      <div class="user-profile" *ngIf="isLoggedIn">
        <a routerLink="/profile">
          <i class="fa fa-user"></i>
        </a>
      </div>

      <div class="search-box">
        <img src="../../assets/person.png" alt="Search" class="search-icon">
        <input type="text" placeholder="Rechercher" [(ngModel)]="searchQuery" (keyup)="performSearch()">
        <img src="../../assets/search.png" alt="Search" class="search-icon-right">
      </div>

      <div class="search-results" *ngIf="searchResults.length > 0">
        <div *ngFor="let result of searchResults" class="search-result-item">
          <!-- Wrap the result item in an anchor tag -->
          <a [routerLink]="result.url" class="search-result-link">
            <div class="result-rectangle">
              <img [src]="result.image" alt="{{ result.title }}" class="result-image">
              <div class="result-details">
                <h3>{{ result.title }}</h3>
                <p>{{ result.description }}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
