/* Styles personnalisés */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: white;
    color: white;
}

header span {
    position: relative;
    padding: 10px;
    transition: all 0.3s ease;
    text-align: center;
}

header span:hover {
    background-color: #ff0037;
    padding: 20px;
    color: white;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input {
    border-radius: 20px;
    padding: 10px;
    width: 150px;
}

.search-form button {
    background-color: #ff0037;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: #e60029;
}

.navbar {
    background-color: #f8f9fa;
}

.navbar h1 {
    font-size: 2rem;
    font-weight: bold;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

.social-icons a {
    text-decoration: none;
    color: gray;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.carousel-inner img {
    max-height: 400px;
    object-fit: cover;
}
/* Conteneur de la carte - avec des bordures arrondies et de l'ombre */
/* Appliquer un fond transparent à la carte */
.card {
    border-radius: 15px; /* Bordures arrondies */
    overflow: hidden; /* Empêche que le contenu dépasse la carte */
}

/* Effet sur l'image */
.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover; /* L'image couvre toute la surface de la carte sans déformation */
    transition: transform 0.3s ease; /* Animation de l'image */
}

.card-img-top:hover {
    transform: scale(1.1); /* Zoom léger sur l'image lors du survol */
}

/* Superposition du texte sur l'image */
.card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Ombre autour de la carte pour la mettre en évidence */
.card.border-0 {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Ajout d'un espacement entre les cartes */
.mb-4 {
    margin-bottom: 1.5rem; /* Marge entre les cartes */
}

/* Pour les petits écrans, ajuster la taille des cartes */
@media (max-width: 768px) {
    .col-lg-6 {
        margin-bottom: 1.5rem; /* Ajout d'une marge en bas pour la version mobile */
    }
    .col-lg-4 {
        margin-bottom: 1.5rem;
    }
}
