<div class="container mt-4">
  <h2 class="mb-4">Actualités Tennis</h2>
  <div class="row">
      <div class="col-md-4" *ngFor="let article of news">
          <div class="card">
              <img [src]="article.image || 'assets/logo.png'" class="card-img-top" *ngIf="article.image">
              <div class="card-body">
                  <h5 class="card-title">{{ article.title }}</h5>
                  <p class="card-text">{{ article.description }}</p>
                  <a [href]="article.url" target="_blank" class="btn btn-primary">Lire plus</a>
              </div>
          </div>
      </div>
  </div>
</div>
